* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Hanken Grotesk, sans-serif;
  line-height: 28px;
  font-weight: 400;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.thebody {
  margin-top: 0;
  border-top: 25px solid #a4b9c8;
  border-image: linear-gradient(to right, #a4b9c8, #626f78, #d2dce4, #edf1f4) 1;
}

.thebody2 {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 6.5rem;
  text-decoration: none;
  border-top: 5px solid #a4b9c8;
  margin-bottom: 2.5rem;
  margin-top: 3.6rem;
}

.experience {
  margin: 0 auto;
  padding-top: 2.5rem;
}

.main-nav {
  display: flex;
  justify-content: space-around;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.thebody2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #a4b9c8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  /* Because we want header to be sticky later */
  height: 5.6rem;
  padding: 0 4.8rem;
}

.heading-primary {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.05;
  font-style: bold;
  margin-bottom: 2.2rem;
  color: #333;
  letter-spacing: -0.5px;
}

.hero-description {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
  color: #333;
}

.btn {
  margin-top: 1.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  text-decoration: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 400;
  font-size: 1.5rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #94a7b4;
}

.myname {
  font-size: 3.2rem;
  font-weight: 600;
  font-size: 2.9rem;
  line-height: 1.05;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  color: #333;
  letter-spacing: -0.5px;
  text-decoration: none;
  background: linear-gradient(to right, #a4b9c8, #d2dce4, #626f78, #edf1f4);
}

.section-hero {
  background-color: #fff;
  padding: 4.8rem 0 9.6rem 0;
  margin: auto 0;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #a4b9c8;
  color: #fff;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 140px;
  text-decoration: none;
}

.btn:hover,
.btn:active {
  background-color: #94a7b4;
  box-shadow: inset 0 0 0 3px #fff;
}

.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

.img1 {
  border-radius: 200px;
}

.img2 {
  border-radius: 200px;
}

.img3 {
  border-radius: 200px;
}

.img4 {
  border-radius: 200px;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.container grid grid--2-cols {
  display: block;
  margin: auto;
  width: 50%;
}

.hero {
  border-top: 25px solid #a4b9c8;
  border-image: linear-gradient(to right, #a4b9c8, #626f78, #d2dce4, #edf1f4) 1;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 7.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.grid {
  display: grid;
  gap: 2.6rem;
  grid-template-columns: repeat(2, 1fr);
}
